.animation
  height: 100%
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: -1
  overflow-x: clip
  & canvas
    position: sticky
    top: 0
    width: 200%
    margin-left: -50%
    margin-bottom: -100px
    @media screen and ( max-width: 768px )
      margin-bottom: 0
      top: 20vh

      