.animation
  height: 100%
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: -1
  & canvas
    position: sticky
    top: 20vh
    width: 140%
    margin-left: -20%
    @media screen and ( max-width: 768px )
      width: 120%
      margin-left: -10%
      top: 30vh
    @media screen and ( max-width: 480px )
      width: 140%
      margin-left: -20%
      top: 40vh

      