.footer
  background-color: $black
  &-block
    display: flex
    align-items:
    justify-self: start
    padding: 50px 0
    color: $gray-light
  &-links
    &:first-child
      width: 200px
    &:nth-child(2)
      width: 380px
    &:nth-child(3)
      width: 400px
      display: flex
      flex-direction: column
      & a
        width: fit-content
    & ul
      list-style: none
    & a
      position: relative
      font-weight: 300
      font-size: 14px
      &::after
        position: absolute
        bottom: -2px
        left: 0
        content: ''
        background-color: $gray-light
        height: 1px
        opacity: 0
        transition: .2s
        width: 100%
      &:hover
        &::after
          opacity: 1
    &__header
      text-transform: uppercase
      margin-bottom: 20px
    &__item
      margin-bottom: 7px
  &-logo
    display: flex
    flex-direction: column
    align-items: center
    width: 200px
    text-align: center
    margin-right: 0
    margin-left: auto
    & img
      margin-bottom: 10px
    & a
      margin-bottom: 10px
